#billboard {
    background-color: #495E57;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#billboard article {
    text-align: left;
    flex: 1 1 0;
}

#billboard .flexcontainer {
    align-items: flex-start;
    flex: 1 1 0;
    gap: 15vw;
}

#billboard h1 {
    color: #F4CE14;
    white-space: nowrap;
}

#billboard h2 {
    font-family: 'Markazi Text', serif;
    font-size: 40pt;
    font-weight: 400;
    margin-top: -20px;
}

#billboard p {
    font-family: 'Karla', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

#billboard img {
    border-radius: 16px;
    width: 100%;
    max-width: 367px;
    flex: 1 1 0;
}

@media only screen and (max-width: 1300px) {
    #billboard img {
        margin-top: 50px;
    }
    #billboard .flexcontainer {
        flex-direction: column;
        gap: 0px;
    }
    #billboard img {
        max-width: 100%;
    }
}