header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navigation a:link {
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

#navigation a:visited {
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

#navigation p {
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

#hamburger {
    display: none;
}

#basket {
    display: none;
}

@media only screen and (max-width: 1080px) {
    #navigation li {
        display: none;
    }
    li#hamburger {
        display: inline-block;
    }
    li#basket {
        display: inline-block;
    }
    li#logo {
        display: inline-block;
    }
    #navigation.flexcontainer {
        flex-direction: row;
    }
}