#specials article {
    background-color: #EDEFEE;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: 50px;
    max-width: 100%;
    border: solid 1px lightgray;
    border-bottom-style: none;
    flex: 1 1 0;
}

#specials .flexcontainer {
    gap: 2vw;
    flex: 1 1 0;
}

#specials {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#specials img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    max-width: 100%;
}

#specials h4 {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 18pt;
    font-weight: 700;
    margin: 10px;
}

#specials h4.price {
    font-size: 16pt;
    font-weight: 500;
    margin: 10px;
    color: #EE9972;
}

#specials p {
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    color: #495E57;
    margin: 10px;
}

#cards {
    align-items: stretch;
}

#horizontal button {
    margin: 10px;
}

#vertical {
    display: none;
    margin: 10px;
}

#horizontal {
    background-color: #EDEFEE;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: solid 1px lightgray;
    border-top-style: none;
}

#orderbuttons {
    align-items: stretch;
}

.flexcontainer2 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1080px) {
    #specials article {
        align-self: center;
        border: solid 1px lightgray;
        border-radius: 16px;
    }
    h1 + button {
        margin-top: 10px;
    }
    #horizontal {
        display: none;
    }
    #vertical {
        display: inline-block;
        margin: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    #specials .flexcontainer2 {
        flex-direction: column;
    }
}